.container {
    margin: 15px 40px 40px 40px;
}

.add-button:focus {
    outline: none;
}

.add-button {
    cursor: pointer;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.custom-padding {
    padding: .375rem .75rem;
}

.title {
    float: left;
}

.d-inline {
    display: inline-block;
}

.pull-right {
    float: right;
}

.h-line {
    border: 1px solid;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.section {
    margin: 20px;
}

.section-header {
    font-size: 25px;
    font-weight: bold;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=datetime-local] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=radio] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=submit] {
    background-color: #4CAF50;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.inline-div {
    display: table;
}

.inline-element {
    display: table-cell;
}

.pr-1 {
    padding-right: 1rem;
}

.align-center {
    text-align: center;
}